.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
}

.page {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  background: linear-gradient(145deg, $main-background 7%, $gradient-background 7%, $gradient-background 30%, $main-background 30%);

  color: $white;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: $main-background;
  }

  &::-webkit-scrollbar-thumb {
    background: #545f68;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 1px $black-10;
  }

  &::-webkit-scrollbar-corner {
    background: $main-background;
  }

  @media (max-width: $mobile-width-max) {
    background: linear-gradient(145deg, $main-background 4.5%, $gradient-background 4.5%, $gradient-background 30%, $main-background 30%);
  }

  @media (min-width: $desktop-width-min) {
    background: linear-gradient(145deg, $main-background 15%, $gradient-background 15%, $gradient-background 45%, $main-background 45%);
  }
}

.page__body {
  margin: 0;
  padding: 0;
}

.page--delivery {
  background: $white;
  color: $black;
  z-index: -2;
}

.button {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.span--green {
  color: $green;
}

.title--h2 {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $table-width-min) {
    font-size: 32px;
    line-height: 44px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 28px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width-mid) {
    font-size: 32px;
    line-height: 44px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 40px;
    line-height: 56px;
  }
}

.title--h3 {
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;

  text-transform: uppercase;
  color: inherit;

  @media (min-width: $table-width-min) {
    font-size: 32px;
    line-height: 44px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 35px;
    line-height: 49px;
  }

  @media (min-width: $desktop-width-mid) {
    font-size: 40px;
    line-height: 56px;
  }
}

.title--h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black-70;

  @media (min-width: $table-width-min) {
    font-size: 21px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width-mid) {
    font-size: 21px;
    line-height: 24px
  }

  @media (min-width: $desktop-width-max) {
    font-size: 30px;
    line-height: 40px;
  }

}

.button-green--hover-focus {
  @media (min-width: $desktop-width-min) {

    &:focus,
    &:hover {
      background: $green-hover;
      border-color: $green-hover;
    }
  }

  &:disabled {
    background: $disabled;
    border-color: $disabled;
    pointer-events: none;
  }
}

.button-transparent--hover-focus {
  @media (min-width: $desktop-width-min) {

    &:focus,
    &:hover {
      color: $green-hover;
      border-color: $green-hover;
    }
  }

  &:disabled {
    border-color: $disabled;
    color: $white-70;
    pointer-events: none;
  }
}

.button--popupClose {
  svg {
    width: 100%;
    height: 100%;
  }

  width: 21px;
  height: 21px;
  stroke: $black;

  @media (min-width: $desktop-width-min) {

    &:hover,
    &:focus {
      stroke: $green-hover;
    }
  }

  &:disabled {
    stroke: $disabled;
  }
}

.item--not-valid-ru {
  position: relative;

  &::after {
    position: absolute;
    content: "Необходимо заполнить это поле";
    color: $not-valid;
    bottom: -20px;
    left: 0;
    font-size: 10px;
    line-height: 14px;
  }

  & label {
    &::after {
      color: $not-valid;
    }
  }

  & input {
    border-color: $not-valid;

    & label::before {
      border-color: $not-valid;
    }
  }

  & svg {
    border-color: $not-valid;
  }
}

.item--not-valid-en {
  position: relative;

  &::after {
    position: absolute;
    content: "Required";
    color: $not-valid;
    bottom: -20px;
    left: 0;
    font-size: 10px;
    line-height: 14px;
  }

  & label {
    &::after {
      color: $not-valid;
    }
  }

  & input {
    border-color: $not-valid;

    & label::before {
      border-color: $not-valid;
    }
  }

  & svg {
    border-color: $not-valid;
  }

  &::after {
    content: "Required";
  }
}

a,
button,
svg{
  @media (min-width: $desktop-width-min){transition: all 0.3s ease-out;}
}

.weight500 {
  font-weight: 500;
}