.aviailability{
  position: relative;

  margin: 0 auto 105px;
  padding: 0 $mobile-padding;
  box-sizing: border-box;
  min-width: $mobile-width-min;
  &::before{
    position: absolute;
    content: "";
    background: radial-gradient(107.23% 107.23% at 50% 50%, rgba(30, 168, 74, 0.4) 0%, rgba(22, 37, 50, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    filter: blur(50px);
    left: -150px;
    top: 180px;
    width: 190px;
    height: 190px;
  }
  @media (min-width: $mobile-width-mid){
    padding: 0 $table-padding;
  }
  @media (min-width: $table-width-min){
    margin-bottom: 190px;
    &::before{
      left: -30px;
      top: 30px;
    }
  }
  @media (min-width: $desktop-width-min){
    padding: 0 $desktop-padding-min;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 21px;
    margin-top: 60px;
  }
  @media (min-width: $desktop-width-mid){
    margin: 65px 0 210px;
  }
  @media (min-width: $desktop-width-max){
    margin: 78px 0 260px;
  }
}

.aviailability__main{
  @media(min-width: $desktop-width-min){
    min-width: 548px;
    padding-bottom: 115px;
  }
  @media(min-width: $desktop-width-max){
    padding-bottom: 140px;
  }
}

.aviailability__title{
  margin: 0;
  padding: 56px 0 35px;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  text-transform: uppercase;
  @media (min-width: $table-width-min){
    padding: 64px 0 48px;
    font-size: 40px;
    line-height: 56px;
  }
  @media (min-width: $desktop-width-min){
    font-size: 35px;
    line-height: 49px;
    padding-top: 0;
    padding-bottom: 42px;
  }
  @media (min-width: $desktop-width-mid){
    font-size: 40px;
    line-height: 56px;
    padding-bottom: 48px;

  }
  @media (min-width: $desktop-width-max){
    font-size: 50px;
    line-height: 70px;
    padding-bottom: 80px;
  }
}

.aviailability__purchase{
  margin-top: 56px;
  @media (min-width: $table-width-min){
    margin-top: 80px;
  }
}

.aviailability__products{
  @media (max-width: $table-width-max){
    display: none;
  }
}

.aviailability__span{
  @media (min-width: $table-width-min){
    font-size: 16px;
    line-height: 24px;
  }
}

.aviailability__span--in-stock{
  display: inline-block;
  @media (max-width: $mobile-width-max){
    max-width: 305px;
  }
  @media (min-width: $table-width-min){
    font-size: 16px;
    line-height: 24px;
  }
  @media (max-width: $table-width-max){
    max-width: 465px;
  }
  @media (min-width: $desktop-width-min){
    font-size: 14px;
    line-height: 20px;
  }
  @media (min-width: $desktop-width-mid){
    font-size: 16px;
    line-height: 24px;
    min-width: 650px;
  }
  @media (min-width: $desktop-width-max){
    font-size: 20px;
    line-height: 28px;
  }
}