.background-video{
  width: 100%;
  position: absolute;
  display: flex;
  z-index: -1;
  &::before{
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% + 1px);
    background-color: $main-background;
    opacity: 0.6;
  }
  top: 0;
  right: 0;
  @media (min-width: $table-width-min){
    width: calc(50% - 24px);  
    max-width: 491px;
    &::after{
      position: absolute;
      content: "";
      width: 299px;
      height: 299px;
      background: radial-gradient(50% 50% at 50% 50%, rgba(30, 168, 74, 0.5) 0%, rgba(22, 37, 50, 0) 100%);
      filter: blur(50px);
      top: 25%;
      left: -127px;
      z-index: -1;
    }
  }
  @media (min-width: $desktop-width-min){
    width: 38%;
    max-width: 38%;
    top: -30px;
  }
  @media (min-width: $desktop-width-max){
    top: -40px;
  }
}

.background-video__video{
  @media (max-width: $table-width-max){
    width: 100%;
  }
  object-fit: cover;
  @media (max-width: $mobile-width-max){
    max-height: 180px;
  }
  @media (min-width: $table-width-min){
    min-height: 335px;
  }
  @media (min-width: $table-width-mid){
    min-height: 435px;
    max-width: 491px;
    max-height: 444px;
  }
  @media (min-width: $desktop-width-min){
    max-height: 444px;
    min-width: 100%;
  }
  @media (min-width: $desktop-width-mid){
    min-height: 500px;
  }
  @media (min-width: $desktop-width-max){
    min-height: 620px;
  }
}