.contacts{
  padding: 42px 0 0;
  margin-bottom: 70px;
  position: relative;
  @media (min-width: $mobile-width-mid){
    margin-bottom: 112px;
  }
  @media (min-width: $table-width-min){
    margin-bottom: 128px;
  }
  @media (min-width: $desktop-width-min){
    margin-bottom: 112px;
  }
  @media (min-width: $desktop-width-mid){
    margin-bottom: 128px;
  }
  @media (min-width: $desktop-width-max){
    margin-bottom: 200px;
  }
}

.contacts__map{
  position: relative;
  width: 100%;
  left: 0;
}

.contacts__title{
  margin: 0;
  padding: 0 $mobile-padding 49px;
  box-sizing: border-box;
  @media (min-width: $mobile-width-mid){
    padding: 0 $table-padding 49px;
  }
  @media (min-width: $table-width-min){
    padding-bottom: 56px;
  }
  @media (min-width: $desktop-width-min){
    padding: 0 $desktop-padding-min 49px;
  }
  @media (min-width: $desktop-width-mid){
    padding-bottom: 56px;
  }  
  @media (min-width: $desktop-width-max){
    padding-bottom: 100px;
  }
}

.contacts__info{
  padding: 0 $mobile-padding 42px;
  box-sizing: border-box;
  @media (min-width: $mobile-width-mid){
    padding: 0 $table-padding 42px;
  }
  @media (min-width: $table-width-min){
    padding-bottom: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  @media (min-width: $desktop-width-min){
    padding: 0 $desktop-padding-min 42px;
  }
  @media (min-width: $desktop-width-mid){
    padding-bottom: 56px;
  }  
  @media (min-width: $desktop-width-max){
    padding-bottom: 70px;
  }
}

.contacts__span--title{
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  display: inline-block;
  margin-bottom: 14px;
  padding: 0 $mobile-padding;
  
  @media (min-width: $mobile-width-mid){
    padding: 0 $table-padding;
  }
  @media (min-width: $table-width-min){
    line-height: 18px;
    margin-bottom: 16px;
  }
  @media (min-width: $desktop-width-min){
    padding: 0 $desktop-padding-min;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 14px;
  }
  @media (min-width: $desktop-width-mid){
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  @media (min-width: $desktop-width-max){
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
  }
}

.contacts__link{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 21px;
  border: 1px solid $black-30;
  border-radius: 2px;
  text-decoration: none;
  color: inherit;
  @media (max-width: $mobile-width-mid){
    width: calc(100% - ($mobile-padding * 2));
    box-sizing: border-box;
    text-align: center;
  }
  @media (max-width: $mobile-width-max){
    position: absolute;
    bottom: 0;
    left: $mobile-padding;
  }
  @media (min-width: $desktop-width-max){
    font-size: 20px;
    line-height: 28px;
  }
}

.contacts__map{
  width: 100%;
  height: 360px;
  @media (max-width: $mobile-width-max){
    padding-bottom: 25px;
  }
  @media (min-width: $table-width-min){
    height: 432px;
    padding-bottom: 0;
  }
  @media (min-width: $table-width-mid){
    height: 576px;
  }
  @media (min-width: $desktop-width-min){
    height: 700px;
  }
  @media (min-width: $desktop-width-mid){
    height: 800px;
  }  
  @media (min-width: $desktop-width-max){
    height: 1000px;
  }
}