.galary {
  padding: 42px 0 0;

  @media (min-width: $table-width-min) {
    padding-top: 48px;
  }

  @media (min-width: $desktop-width-min) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width-mid) {
    padding-top: 60px;
  }

  @media (min-width: $desktop-width-max) {
    padding-top: 80px;
  }
}

.galary__wrapper--text {
  margin: 0 $mobile-padding;
  padding: 0 20px;

  @media (min-width: $mobile-width-mid) {
    margin: 0 $table-padding;
  }

  @media (min-width: $table-width-min) {
    padding: 0;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0 $desktop-padding-min;
    padding: 0 20px;
  }
}

.galary__wrapper--img {
  position: relative;
  width: 100%;
  padding-top: 65%;
  background-color: rgba(0, 0, 0, 0.05);
}

.galary__block {
  margin-bottom: 112px;

  @media (min-width: $table-width-min) {
    margin-bottom: 128px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 105px;
  }

  @media (min-width: $desktop-width-mid) {
    margin-bottom: 120px;
  }

  @media (min-width: $desktop-width-max) {
    margin-bottom: 200px;
  }
}

.galary__section {
  margin-bottom: 112px;

  @media (min-width: $table-width-min) {
    margin-bottom: 128px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 105px;
  }

  @media (min-width: $desktop-width-mid) {
    margin-bottom: 120px;
  }

  @media (min-width: $desktop-width-max) {
    margin-bottom: 200px;
  }
}

.galary__slider {
  margin-bottom: 50px;

  @media (min-width: $table-width-min) {
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0 $desktop-padding-min 85px;
    display: flex;
    align-items: center;
  }
}

.galary__swiper{
  @media (min-width: $desktop-width-min){
    order: 2;
    width: 100%;
  }
}

.galary__title {
  margin: 0 0 50px;
  padding: 0 $mobile-padding;

  @media (min-width: $mobile-width-mid) {
    padding: 0 $table-padding;
  }

  @media (min-width: $table-width-min) and (max-width: $table-width-max) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0 $desktop-padding-min;
  }

  @media (min-width: $desktop-width-mid) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width-max) {
    margin-bottom: 100px;
  }
}

.galary__subtitle {
  margin: 0 0 30px;
}

.galary__span--name {
  font-weight: 800;
  font-size: 42px;
  line-height: 49px;
  color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 0;
  margin: 0 0 35px;
}

.galary__img--slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.galary__poster--slide{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.galary__video--slide{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.galary__button--play{
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 42px;
  height: 42px;
  fill: $white-40;
  @media (min-width: $mobile-width-mid){
    width: 60px;
    height: 60px;
  }
  @media (min-width: $desktop-width-min){
    width: 50px;
    height: 50px;

    &:hover,
    &:focus{
      fill: $green-hover;
      width: 55px;
      height: 55px;
    }
  }
}

.galary__button-swiper {
  @media (max-width: $table-width-max) {
    display: none;
  }
  @media (min-width: $desktop-width-min){
    width: 40px;
    height: 40px;
    fill: $black;
    flex-shrink: 0;

    &:hover,
    &:focus{
      fill: $green-hover;
    }
  }
}

.galary__button-swiper--left{
  @media (min-width: $desktop-width-min){
    order: 1;
  }
}

.galary__button-swiper--right{
  .galary__svg--button{
    transform: rotate(180deg);
  }
  @media (min-width: $desktop-width-min){
    order: 3;
  }
}

.galary__button-swiper--gigler{
  cursor: default;
}

.galary__svg--button{
  width: 100%;
  height: 100%;
}

.galary__svg--play{
  width: 100%;
  height: 100%;
}