.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
  background-color: $main-background;
  @media (min-width: $desktop-width-min){
    position: static;
    background-color: transparent;
  }
}

.header--nojs{
  position: static;
}

// .header--scroll-hide{
//   transform: translate(0, -100%);
//   transition: all 0.7s ease;
// }

// .header--scroll-show{
//   transform: translate(0, 0);
//   transition: all 0.7s ease;
// }