.language {
  margin: 0 0 75px;
  padding: 0;


  position: relative;

  @media (min-width: $table-width-min) {
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

.language__span {
  font-size: 10px;
  line-height: 14px;
  margin-right: 23px;
  padding: 6px 5px;
  border: 1px solid $white-40;
  border-radius: 50%;
  box-sizing: border-box;

  @media (min-width: $table-width-min) {
    font-size: 12px;
    line-height: 15px;
    padding: 10px 9px;
  }

  @media (min-width: $desktop-width-min) {
    margin-right: 28px;
    font-size: 12px;
    line-height: 18px;
    padding: 9px;
  }
}

.language__span--black-solid {
  border: 1px solid $black-40;
}

.language__span--description {
  position: relative;
  top: 1px;

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 14px;
    background-color: $white-40;
    top: 2px;
    left: -14px;
  }

  @media (min-width: $table-width-min) {
    font-size: 16px;
    line-height: 24px;

    &::before {
      height: 16px;
      top: 3px;
    }
  }

  @media (min-width: $desktop-width-min) {
    font-size: 12px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 14px;
    line-height: 20px;
  }
}

.language__span--select {
  @media (min-width: $desktop-width-min) {
    padding: 12px 10px;
    background: linear-gradient(331.39deg, #1EA84A -7.59%, rgba(255, 255, 255, 0.6) 121.44%);
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
    backdrop-filter: blur(12px);

    border-radius: 50%;
  }
}

.language__span--title {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $white-60;

  display: inline-block;
  margin-bottom: 23px;

  @media (min-width: $table-width-min) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width-min) {
    display: none;
  }
}

.language__list {
  display: flex;
  gap: 21px;

  @media (min-width: $desktop-width-min) {
    flex-direction: column;
    position: absolute;
    gap: 16px;
    padding: 12px 19px;
    background: linear-gradient(0deg, rgba(37, 54, 69, 0.8), rgba(37, 54, 69, 0.8)), linear-gradient(331.39deg, rgba(255, 255, 255, 0.38) -7.59%, rgba(255, 255, 255, 0) 121.44%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(12px);

    border-radius: 4px;

    z-index: 10;
    top: 40px;
    right: 0;

    display: none;
  }

  @media (min-width: $desktop-width-max) {
    padding: 16px 24px;
  }
}

.language__button--select {
  @media (max-width: $table-width-max) {
    display: none;
  }

  @media (min-width: $desktop-width-min) {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    &:focus,
    &:hover {
      .language__span--select {
        background: $green-hover;
      }

      .language__svg--select {
        fill: $green-hover;
      }
    }
  }

  @media (min-width: $desktop-width-max) {
    font-size: 14px;
    line-height: 20px;
  }

  &:disabled {
    pointer-events: none;

    .language__span--select {
      background: $disabled;
    }

    .language__svg--select {
      fill: $disabled;
    }
  }
}

.language__svg--select {
  width: 12px;
  height: 8px;
  fill: $green;
  margin-left: 4px;
}

.language__item {
  @media (max-width: $table-width-max) {
    width: 50%;
  }

  display: flex;
  align-items: center;

  @media (min-width: $desktop-width-min) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $white-40;
      bottom: -8px;
      left: 0;
    }

    &:nth-last-child(1) {
      &::before {
        display: none;
      }
    }
  }
}

.language__label {
  cursor: pointer;

  @media (min-width: $desktop-width-min) {
    display: flex;
    align-items: center;

    &:focus,
    &:hover {
      .language__span {
        border-color: #54C879;
        color: #54C879;
      }
    }
  }
}

.language__radio {
  &:disabled {
    &+.language__label {
      pointer-events: none;

      .language__span {
        background: $disabled;
        border: none;
      }

      .language__span--description {
        color: $white-70;
        border-color: $disabled;
      }
    }
  }

  &:checked {
    &:disabled {
      &+.language__label {
        pointer-events: none;

        .language__span {
          background: $disabled;
          border: none;
        }

        .language__span--description {
          color: $white-70;
          border-color: $disabled;
        }
      }
    }

    &+.language__label {
      .language__span--description {
        font-weight: 600;

        position: relative;

        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 0;
          border: 1px solid $green;
          background-color: $green;
          border-radius: 1px;
          bottom: -7px;
          left: -1px;
        }
      }

      .language__span {
        padding: 8px 7px;

        border: none;
        background: linear-gradient(331.39deg, $green -7.59%, rgba(255, 255, 255, 0.6) 121.44%);

        @media (min-width: $table-width-min) {
          padding: 11px 10px;
        }

        @media (min-width: $desktop-width-min) {
          padding: 10px;
        }
      }

      &:focus,
      &:hover {
        .language__span {
          background: #54C879;
          color: $white;
        }
      }

      .language__span--gray {
        background: linear-gradient(179.79deg, rgba(22, 37, 50, 0.2) 0.18%, rgba(30, 168, 74, 0) 180.12%);
      }
    }
  }
}

.language--open {
  .language__list {
    display: flex;
  }

  .language__svg--select {
    transform: rotate(180deg);
  }
}