.option-product {
  margin: 0;
  padding: 0;
  right: -100px;

  @media (min-width: $desktop-width-min) {
    display: flex;
    align-items: flex-end;
  }
}

.option-product__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.option-product__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: flex-end;
}

.option-product__label {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;

  width: 154px;

  @media (min-width: $desktop-width-mid) {
    width: 176px;
  }

  @media (min-width: $desktop-width-max) {
    width: 220px;
  }

  &::after {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 126px;
    box-sizing: border-box;
    background: linear-gradient(331.39deg, rgba(255, 255, 255, 0.38) -7.59%, rgba(255, 255, 255, 0) 121.44%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
    backdrop-filter: blur(12px);

    border-radius: 9px;

    @media (min-width: $desktop-width-mid) {
      height: 144px;
    }

    @media (min-width: $desktop-width-max) {
      height: 180px;
    }
  }
}

.option-product__img {
  width: 84px;
  z-index: 2;
  filter: grayscale(100%);

  @media (min-width: $desktop-width-mid) {
    width: 96px;
  }

  ;

  @media (min-width: $desktop-width-max) {
    width: 120px;
  }

  ;
}

.option-product__picture {
  z-index: 2;
}

.option-product__svg--background {
  position: absolute;
  width: 95%;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
  fill: rgba(250, 247, 247, 0.7);
  filter: blur(0.7px);
  display: none;
  transition: none;
}

.option-product__svg--triangle {
  position: absolute;
  fill: rgba($color: $green-dark, $alpha: 0.9);
  width: 35px;
  height: 14px;
  bottom: -18px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: none;
  transition: none;
}

.option-product__span {
  font-weight: 800;
  font-size: 21px;
  line-height: 35px;
  color: $black-50;
  z-index: 2;
  padding-bottom: 14px;

  @media (min-width: $desktop-width-mid) {
    font-size: 24px;
    line-height: 32px;
  }

  ;

  @media (min-width: $desktop-width-max) {
    font-size: 30px;
    line-height: 40px;
  }

  ;
}

.option-product__radio {
  &+.option-product__label {
    @media (min-width: $desktop-width-min) {

      &:hover,
      &:focus {
        .option-product__span {
          color: $white;
        }

        .option-product__img {
          filter: none;
          width: 94px;

          @media (min-width: $desktop-width-mid) {
            width: 106px;
          }

          @media (min-width: $desktop-width-max) {
            width: 135px;
          }
        }
      }
    }
  }

  &:checked {
    &+.option-product__label {
      width: 196px;

      @media (min-width: $desktop-width-min) {
        .option-product__svg--background {
          display: block;
        }

        .option-product__svg--triangle {
          display: block;
        }

        &:hover,
        &:focus {
          .option-product__img {
            width: 140px;
            filter: none;

            @media (min-width: $desktop-width-mid) {
              width: 152px;
            }

            @media (min-width: $desktop-width-max) {
              width: 200px;
            }
          }
        }
      }

      @media (min-width: $desktop-width-mid) {
        width: 224px;
      }

      @media (min-width: $desktop-width-max) {
        width: 280px;
      }

      .option-product__img {
        width: 126px;
        filter: none;

        @media (min-width: $desktop-width-mid) {
          width: 144px;
        }

        @media (min-width: $desktop-width-max) {
          width: 180px;
        }
      }

      .option-product__span {
        position: relative;
        color: $black;
      }
    }
  }
}

.option-product--mini {
  position: fixed;
  top: 50%;
  right: 27px;
  z-index: 1;
  transform: translate(0, -50%);
  transition: right 0.3s ease-out;

  .option-product__svg--background {
    bottom: 25px;
    width: 90%;
  }

  .option-product__svg--triangle {
    transform: rotate(90deg) translate(-50%, 0);
    top: 40%;
    left: -17px;
    width: 18px;
    height: 11px;

    @media (min-width: $desktop-width-max) {
      top: 50%;
      left: -23px;
      width: 24px;
      height: 14px;
    }
  }

  .option-product__list {
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }

  .option-product__img {
    width: 28px;
    margin-bottom: 14px;
    padding: 10px 0;

    @media (min-width: $desktop-width-mid) {
      width: 32px;
    }

    @media (min-width: $desktop-width-max) {
      width: 52px;
      margin-bottom: 8px;
    }
  }

  .option-product__label {
    width: 56px;
    height: 80px;
    justify-content: flex-end;
    position: relative;

    &::after {
      height: 63px;
      bottom: 21px;
      background: linear-gradient(331.39deg, rgba(255, 255, 255, 0.38) -7.59%, rgba(255, 255, 255, 0) 121.44%);
      filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
      backdrop-filter: blur(12px);

      border-radius: 3px;

      @media (min-width: $desktop-width-mid) {
        height: 72px;
      }

      @media (min-width: $desktop-width-max) {
        height: 90px;
      }
    }

    @media (min-width: $desktop-width-mid) {
      width: 64px;
      height: 92px;
    }

    @media (min-width: $desktop-width-max) {
      width: 80px;
      height: 115px;
    }
  }

  .option-product__span {
    font-size: 10px;
    line-height: 14px;
    color: $white-30;
    padding: 0;

    @media (min-width: $desktop-width-mid) {
      font-size: 12px;
      line-height: 16px;
    }

    @media (min-width: $desktop-width-max) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .option-product__radio {

    &:hover,
    &:focus {
      &+.option-product__label {
        .option-product__img {
          width: 30px;

          @media (min-width: $desktop-width-mid) {
            width: 36px;
          }

          @media (min-width: $desktop-width-max) {
            width: 56px;
          }
        }
      }
    }

    &:checked {

      &:hover,
      &:focus {
        &+.option-product__label {
          .option-product__img {
            width: 56px;

            @media (min-width: $desktop-width-mid) {
              width: 58px;
            }

            @media (min-width: $desktop-width-max) {
              width: 76px;
            }
          }
        }
      }

      &+.option-product__label {

        &::before {
          z-index: 1;
          position: absolute;
          content: "";
          width: 90%;
          box-sizing: border-box;
          height: 53px;
          left: 50%;
          transform: translate(-50%, 0);
          top: 1px;
          background: linear-gradient(rgba($color: $green, $alpha: 0.6) 0%, $main-background 109.13%);
          border-radius: 2px;

          @media (min-width: $desktop-width-mid) {
            top: 3px;
            height: 65px;
          }

          @media (min-width: $desktop-width-max) {
            top: 8px;
            height: 80px;
          }
        }

        width: 56px;

        @media (min-width: $desktop-width-mid) {
          width: 64px;
        }

        @media (min-width: $desktop-width-max) {
          width: 80px;
        }

        .option-product__img {
          width: 49px;
          filter: none;

          @media (min-width: $desktop-width-mid) {
            width: 56px;
          }

          @media (min-width: $desktop-width-max) {
            width: 70px;
          }
        }

        .option-product__span {
          position: relative;
          color: $white;

          &:nth-last-child(1) {
            &::before {
              left: -37px;

              @media (min-width: $desktop-width-mid) {
                left: -54px;
              }

              @media (min-width: $desktop-width-max) {
                left: -65px;
              }
            }
          }
        }
      }
    }
  }
}