.product-change{
  padding: 0;
  margin: 0;
  position: relative;
  @media (max-width: $table-width-max){
    &::before{
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $white-40;
      top: -35px;
      left: 0;
    }
  }  
  @media (min-width: $table-width-min){
    font-size: 16px;
    line-height: 24px;
    &::before{
        top: -40px;
    }  
  }
  @media (min-width: $desktop-width-min){
    display: none;
  }
}

.product-change__fieldset{
  padding: 0;
  margin: 0;
  border: none;
}

.product-change__list{
  display: flex;
  gap: 56px;
  @media (min-width: $table-width-min){
    gap: 80px;
  }
}

.product-change__item{
  margin: 0;

  position: relative;
  &::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 16px;
    top: 2px;
    right: -28px;
    background-color: #ffffff;
  }
  &:nth-last-child(1){
    &::after{
      display: none;
    }
  }

  @media (min-width: $table-width-min){
    &::after{
      top: 4px;
      right: -40px;
    }
  }
}

.product-change__label{
  padding-bottom: 3px;
  cursor: pointer;
}

.product-change__radio:checked+.product-change__label{
  font-weight: 600;

  position: relative;
  &::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    border: 1px solid $green;
    background-color: $green;
    border-radius: 1px;
    bottom: -2px;
    left: -1px;
  }
}