.production {
  position: relative;

  margin: 0 auto 133px;
  padding: 0;
  box-sizing: border-box;
  min-width: $mobile-width-min;

  &::after {
    position: absolute;
    content: "";
    width: 178.86px;
    height: 238px;

    background: radial-gradient(124.12% 94.47% at 34.31% 50%, rgba(30, 168, 74, 0.4) 0%, rgba(22, 37, 50, 0) 100%);
    filter: blur(50px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    top: -120px;
    left: 0;
  }

  @media (min-width: $table-width-min) {
    &::after {
      background: radial-gradient(50% 50% at 50% 50%, rgba(30, 168, 74, 0.3) 50%, rgba(22, 37, 50, 0) 100%);
      filter: blur(50px);
      left: -20px;
    }
  }

  @media (min-width: $table-width-min) {
    padding: 0 $table-padding;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0 $desktop-padding-min;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 56px 21px;
    margin-bottom: 240px;
  }

  @media (min-width: $desktop-width-max) {
    margin-bottom: 272px;
  }
}

.production__slider {
  position: relative;
  @media (min-width: $desktop-width-min) {
    grid-row: 2/3;
    grid-column: 1/9;
  }
}

.production__title {
  margin: 0 80px 56px 0;
  padding: 0 $mobile-padding;

  @media (min-width: $mobile-width-mid) {
    padding: 0 $table-padding;
  }

  @media (max-width: $mobile-width-max) {
    max-width: 300px;
  }

  @media (min-width: $table-width-min) {
    padding: 0;
    max-width: 485px;
    margin-bottom: 105px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0;
    grid-column: 2 / 6;
    margin: 0;
    max-width: 495px;
    width: 495px;
  }

  @media (min-width: $desktop-width-max) {
    max-width: 660px;
    width: 660px;
  }
}

.production__span--mobile-none {
  @media (max-width: $mobile-width-max) {
    display: none;
  }
}

.production__navigation {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  padding: 0 $mobile-padding;
  position: relative;

  @media (min-width: $mobile-width-mid) {
    padding: 0 $table-padding;
  }

  @media (min-width: $table-width-min) {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 2/3;
    grid-column: 7/9;
    margin: 50px 0 25px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.production__slides-number {
  display: flex;
  align-items: center;
  gap: 32px;
  color: $white-40;
  font-weight: 500;

  @media (min-width: $table-width-min) {
    font-size: 16px;
    line-height: 24px;
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width-min) {
    z-index: 2;
  }
}

.production__line {
  width: 42px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);

  @media (min-width: $table-width-min) {
    width: 48px;
  }
}

.production__svg--watch {
  width: 45px;
  height: 45px;
  fill: $green;
  border: 1px solid $green;
  border-radius: 50%;

  @media (min-width: $table-width-min) {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }

  @media (min-width: $desktop-width-min) {
    width: 45px;
    height: 45px;
  }

  @media (min-width: $desktop-width-mid) {
    width: 50px;
    height: 50px;
  }

  @media (min-width: $desktop-width-max) {
    width: 60px;
    height: 60px;
  }
}

.production__button--watch {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  text-align: left;
  z-index: 2;

  position: absolute;
  right: $mobile-padding;
  top: -140px;

  @media (min-width: $mobile-width-mid) {
    top: 30px;
  }

  @media (min-width: $table-width-min) {
    right: 0;
    top: 20px;
    position: relative;
    flex-direction: row;
    width: 230px;

    grid-column: 3/5;
  }

  @media (min-width: $desktop-width-min) {
    position: static;
    &:hover,
    &:focus {
      .production__svg--watch {
        background: $green-hover;
        border-color: $green-hover;
        fill: $white;
      }
    }
  }
}

.production__text {
  margin: 0;
}