.purchase{
  display: flex;
  gap: 16px;
  @media (max-width: $mobile-width-mid){
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    width: max-content;
  }
  @media (min-width: $table-width-min){
    gap: 48px;
  }
  @media (min-width: $desktop-width-min){
    gap: 40px;
  }
  @media (min-width: $desktop-width-mid){
    gap: 48px;
  }
  @media (min-width: $desktop-width-max){
    gap: 60px;
  }
}

.purchase__button{
  background-color: transparent;
  margin: 0;
  padding: 10px 17px;
  color: #ffffff;
  justify-content: space-around;

  font-weight: 500;
  text-transform: uppercase;

  border: 1px solid #FFFFFF;
  border-radius: 4px;
  @media (min-width: $table-width-min){
    padding: 11px 32px;
    font-size: 16px;
    line-height: 24px;
  }
  @media (min-width: $desktop-width-min){  
    padding: 10px 32px;
    font-size: 14px;
    line-height: 20px;
  }
  @media (min-width: $desktop-width-mid){
    padding: 12px 32px;
    font-size: 16px;
    line-height: 24px;
  }
  @media (min-width: $desktop-width-max){
    padding: 14px 40px;
    font-size: 20px;
    line-height: 28px;
  }
}

.purchase__button--order{
  background: $green;
  border-color: $green;
}