@mixin disabled {
  &:disabled{
    color: $disabled;
    pointer-events: none;
  }
};
@mixin disabled--button {
  &:disabled{
    color: $white-70;
    background: $disabled;
    pointer-events: none;
  }
};