.characteristics--close {
  @media (max-width: $table-width-max) {
    .characteristic__block {
      display: none;
    }

    .characteristics__toggle {
      margin-bottom: 0;
    }

    .characteristics__svg--button {
      transform: rotate(90deg);
    }
  }
}

.characteristics__toggle {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 40px;
  @media (min-width: $desktop-width-max){
    margin-bottom: 50px;
  }
}

.characteristics__button {
  @media (min-width: $desktop-width-min) {
    display: none;
  }
}

.characteristics__svg--button {
  width: 14px;
  height: 9px;
  transform: rotate(-90deg);
  fill: $pink;
  transition: transform 0.2s ease-in;

  @media (min-width: $table-width-min) {
    width: 16px;
    height: 10px;
  }
}

.characteristics__block {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.characteristic__svg {
  width: 28px;
  height: 28px;

  @media (min-width: $table-width-min) {
    width: 32px;
    height: 32px;
  }

  @media (min-width: $desktop-width-min) {
    width: 28px;
    height: 28px;
  }

  @media (min-width: $desktop-width-max) {
    width: 32px;
    height: 32px;
  }
}

.characteristic__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  color: $black;
  margin: 0;

  @media (min-width: $table-width-min) {
    font-size: 16px;
    line-height: 16px;
  }
}

.characteristics__characteristic {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.characteristic__line {
  width: 100%;
  height: 1px;
  background: $blue;
  margin-bottom: 14px;
}

.characteristic__description {
  display: flex;
  flex-direction: column;
  gap: 28px;
  flex-wrap: wrap;

  @media (min-width: $mobile-width-mid) {
    flex-direction: row;
    gap: 42px;
  }

  @media (min-width: $table-width-min) {
    gap: 64px;
  }

  @media (min-width: $desktop-width-min) {
    flex-direction: column;
    gap: 28px;
  }
}

.characteristic__block {
  display: flex;
  flex-direction: column;
  gap: 70px;
  max-width: 700px;

  @media (min-width: $desktop-width-min) {
    max-width: none;
    flex-direction: row;
    justify-content: space-between;
  }
}

.characteristics__span--button {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;

  color: $captionBlue;

  @media (min-width: $table-width-min) {
    font-size: 14px;
    line-height: 14px;
  }
}