.contacts {
  padding: 50px 0 0;
  display: flex;
  flex-direction: column;
  gap: 65px;

  @media (min-width: $table-width-min) {
    gap: 70px;
    padding: 55px 0 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 50px $padding 100px;
    gap: 70px 21px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  @media (min-width: $desktop-width-max) {
    padding: 65px $padding 120px;
    gap: 95px 24px;
  }
}

.contacts__title {
  margin: 0 $padding;

  @media (min-width: $desktop-width-min) {
    margin: 0;
    grid-column: 2/12;
    grid-row: 1/2;
  }
}

.contacts__contacts {
  margin: 0 $padding;

  @media (min-width: $desktop-width-min) {
    margin: 0;
    grid-column: 2/12;
    grid-row: 2/3;
  }
}

.contacts__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;
  margin: 0 0 35px;

  @media (min-width: $table-width-min) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 18px;
    line-height: 18px;
  }
}

.contacts__info {
  display: flex;
  align-items: center;
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: $black;

  @media (min-width: $mobile-width-mid) {
    margin-bottom: 10px;
  }

  @media (min-width: $table-width-min) {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-max) {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 26px;
  }
}

.contacts__svg {
  width: 21px;
  height: 21px;

  @media (min-width: $table-width-min) {
    width: 24px;
    height: 24px;
  }

  @media (min-width: $desktop-width-min) {
    width: 21px;
    height: 21px;
  }

  @media (min-width: $desktop-width-max) {
    width: 24px;
    height: 24px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__list--info {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media (min-width: $table-width-min) {
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }
}

.contacts__list--company-details {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media (min-width: $table-width-min) {
    gap: 60px;
  }

  @media (min-width: $desktop-width-min) {
    gap: 30px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: $table-width-min) {
    align-items: center;
    flex-direction: row;
  }
}

.contacts__item--line {
  display: none;

  @media (min-width: $table-width-min) {
    width: 1px;
    height: 16px;
    background: $black-50;
    display: block;
  }
}

.contacts__item--company-details {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: $table-width-min) {
    gap: 16px;
  }

  @media (min-width: $desktop-width-min) {
    gap: 8px;
  }
}

.contacts__wrapper--map {
  position: relative;
  width: 100%;
  padding-top: 53%;
  box-sizing: border-box;

  @media (min-width: $desktop-width-min) {
    padding-top: 40%;
    grid-column: 2/12;
    grid-row: 3/4;
  }
}

.contacts__map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacts__company-details {
  margin: 0 $padding;

  @media (min-width: $desktop-width-min) {
    margin: 0;
    grid-column: 2/12;
    grid-row: 4/5;
  }
}

.contacts__span--title {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;

  color: $blue;

  @media (min-width: $table-width-min) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 16px;
    line-height: 24px;
  }
}

.contacts__span--details {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: $black;

  @media (min-width: $table-width-min) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 16px;
    line-height: 24px;
  }
}

.contacts__link--content {
  text-decoration: none;
  color: inherit;
}