.feedback {
  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 21px;
    padding: 0 $padding 185px;
    background: $fonLight;
  }
}

.feedback__content {
  background: linear-gradient(129.41deg, #FFF2FA 27.45%, #EDF0FE 82.56%);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  border-radius: 13px;

  margin: 0;
  padding: 0 $padding 250px;
  display: flex;
  flex-direction: column;

  position: relative;

  @media (min-width: $mobile-width-mid) {
    padding: 0 0 70px;
    margin: 0 $padding 0;
  }

  @media (min-width: $table-width-min) {
    max-width: 650px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 4/11;
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 55px 0;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr auto;
    gap: 21px;
  }

  @media (min-width: $desktop-width-max) {
    padding: 100px 0;
  }
}

.feedback__title {
  font-family: 'Appetite';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  padding: 75px 0 6px;
  margin: 0 auto 56px;
  text-align: center;

  @media (min-width: $mobile-width-mid) {
    margin: 0 0 56px 63px;
    text-align: left;
  }

  @media (min-width: $table-width-min) {
    font-size: 32px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 2/6;
    grid-row: 1/2;
    margin: 0;
    padding: 0;

    font-size: 35px;
    line-height: 49px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 40px;
    line-height: 52px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 52px;
    line-height: 70px;
  }
}

.feedback__button {
  padding: 16px 28px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $mobile-width-mid) {
    margin: 0 0 0 63px;
    width: min-content;
    font-size: 16px;
    line-height: 16px;
    padding: 19px 32px;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 2/4;
    grid-row: 2/3;
    margin: 0;
    padding: 16px 28px;

    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 16px;
    line-height: 16px;
    padding: 19px 32px;
  }
}

.feedback__img{
  width: 100%;
}

.feedback__picture {
  width: 345px;
  margin-left: auto;
  position: absolute;
  bottom: -45px;
  right: 0;

  @media (min-width: $mobile-width-mid) {
    width: 330px;
  }

  @media (min-width: $desktop-width-min) {
    width: 370px;
    right: -95px;
  }
  @media (min-width: $desktop-width-max) {
    width: 550px;
    right: -140px;
  }
}

.feedback__sprite {
  @media (max-width: $table-width-max) {
    display: none;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 3/4;
    font-family: 'Appetite';
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 53px;
    text-transform: uppercase;

    color: transparent;

    -webkit-text-stroke: 1px #B5C1E4;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
  }

  @media (min-width: $desktop-width-mid) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 78px;
    line-height: 60px;
  }
}