.header {
  min-height: 55px;
  padding: 0;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  background: transparent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);

  max-height: 100vh;
  overflow: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar {
    height: 5px;
    width: 3px;
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: $black-10;
    -webkit-border-radius: 1ex;
  }

  &::-webkit-scrollbar-corner {
    background: #fff;
  }

  scrollbar-width: thin;

  z-index: 10;

  @media (min-width: $desktop-width-min) {
    overflow: visible;
  }
}