.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background: rgba($color: $captionBlue, $alpha: 0.4);
}

.popup__video{
  position: relative;
  width: 100%;
  padding-top: 65%;
  @media (min-width: $desktop-width-min){
    width: 80vh;
  }
}

.popup__iframe--youtube{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.popup__content {
  background-color: $white;
  border-radius: 7px;
  box-sizing: border-box;
  width: 100%;
  padding: 50px $padding-popup-mobile 70px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $table-width-min) {
    padding: 55px $padding-popup-table 100px;
  }

  @media (max-width: calc(#{$table-width-mid} - 1px) ) and (orientation: landscape) {
    padding: 40px 20px 20px 20px; 
  }

  @media (min-width: $desktop-width-min) {
    width: auto;
    padding: 0;
  }
}

.popup__declaration {
  width: 100%;
}

.popup__img--declaration {
  width: 100%;
}

.popup__scroll {
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  max-height: 60vh;

  @media (max-width: calc(#{$table-width-mid} - 1px) ) and (orientation: landscape) {
    max-height: 75vh;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0 45px 35px;
  }

  background: /* Shadow covers */
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
  radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .07), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .07), rgba(0, 0, 0, 0)) 0 100%;
  background: /* Shadow covers */
  linear-gradient(white 30%, rgba(169, 34, 34, 0)), linear-gradient(rgba(169, 34, 34, 0), white 70%) 0 100%, /* Shadows */
  radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .07), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .07), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

@keyframes popup {
  0% {
    transform: translate(-50%, 100%)
  }

  70% {
    transform: translate(-50%, -50%)
  }

  90% {
    transform: translate(-50%, -47%)
  }

  100% {
    transform: translate(-50%, -50%)
  }
}

.popup--show {
  display: block;

  .popup__content {
    animation-name: popup;
    animation-duration: 0.6s;
  }
}

.popup__form {
  width: 300px;
  margin: 0 auto 20px;

  @media (min-width: $table-width-min) {
    width: 425px;
  }
}

.popup__svg--close {
  width: 33%;
  height: 33%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup__svg--checkbox {
  fill: transparent;
  border: 1px solid $pink;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 3px;

  @media (min-width: $table-width-min) and (max-width: $table-width-max) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: $desktop-width-mid) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: $desktop-width-max) {
    width: 21px;
    height: 21px;
  }
}

.popup__span--checkbox {
  padding-left: 35px;
  display: inline-block;

  @media (max-width: $mobile-width-mid) {
    width: 260px;
  }

  @media (min-width: $table-width-min) and (max-width: $table-width-max) {
    padding-left: 40px;
  }

  @media (min-width: $desktop-width-mid) {
    padding-left: 40px;
  }
}

.popup__header {
  margin: 0 0 50px;
  display: flex;
  justify-content: space-between;
  gap: 18px;
  position: relative;

  @media (orientation: landscape) and (max-width: $table-width-mid) {
    margin-bottom: 5px;
  }

  @media (min-width: $table-width-mid) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 35px 45px 0;
  }

  @media (min-width: $desktop-width-mid) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width-max) {
    margin-bottom: 50px;
  }
}

.popup__title {
  margin: 0 auto;
  width: 300px;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;

  text-transform: uppercase;
  color: inherit;

  @media (min-width: $table-width-min) {
    font-size: 24px;
    line-height: 36px;
    width: 425px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    margin: 15px auto 0;
  }

  @media (min-width: $desktop-width-max) {
    width: 320px;
    font-size: 20px;
    line-height: 26px;
  }
}

.popup__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 60px;

  @media (min-width: $desktop-width-min) {
    gap: 40px;
  }

  @media (min-width: $desktop-width-max) {
    gap: 50px;
  }
}

.popup__item {
  display: flex;
  flex-direction: column;
  gap: 7px;

  @media (min-width: $desktop-width-min) {
    width: 300px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width-max) {
    width: 320px;
  }
}

.popup__item--checkbox {
  flex-direction: row;
  gap: 14px;
  align-items: flex-start;
  grid-column: 1/3;

  @media (min-width: $desktop-width-min) {
    width: 100%;
    margin: 0;
  }
}

.popup__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  color: $black-40;

  @media (min-width: $table-width-min) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 16px;
    line-height: 24px;
  }
}

.popup__label--checkbox {
  font-family: inherit;
  position: relative;
  color: $black;

  font-size: 12px;
  line-height: 20px;

  @media (min-width: $table-width-min) {
    font-size: 14px;
    line-height: 23px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 12px;
    line-height: 20px;
  }
}

.popup__input {
  border: none;
  border-bottom: 1px solid $black;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;

  color: $black-40;
  opacity: 0.4;

  &:focus,
  &:hover {
    border-bottom: 1px solid $focus;
    opacity: 1;
    outline: none;
    color: $black;
  }

  @media (min-width: $table-width-min) {
    font-size: 12px;
    line-height: 12px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 14px;
    line-height: 14px;
  }
}

.popup__input--checkbox+.popup__label {
  @media (min-width: $desktop-width-min) {

    &:focus,
    &:hover {
      .popup__svg--checkbox {
        border-color: $focus;
        border-radius: 3px;
      }

      color: $black-70;
    }
  }
}

.popup__input--checkbox+.popup__label--checkbox {
  @media (min-width: $desktop-width-min) {

    &:focus,
    &:hover {

      color: $black;
    }
  }
}

.popup__input--checkbox:checked+.popup__label {
  .popup__svg--checkbox {
    fill: $pink;
    border: none;
    width: 16px;
    height: 16px;

    @media (min-width: $table-width-min) and (max-width: $table-width-max) {
      width: 18px;
      height: 18px;
    }

    @media (min-width: $desktop-width-mid) {
      width: 18px;
      height: 18px;
    }

    @media (min-width: $desktop-width-max) {
      width: 23px;
      height: 23px;
    }
  }

  @media (min-width: $desktop-width-min) {

    &:hover,
    &:focus {
      .popup__svg--checkbox {
        fill: $focus;
      }
    }
  }
}

.popup__link {
  color: $pink;
  text-decoration: none;

  @media (min-width: $desktop-width-min) {

    &:hover,
    &:focus {
      color: $focus;
    }
  }
}

.popup__submit {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  position: relative;

  @media (min-width: $table-width-mid) {
    margin-top: 70px;
  }

  @media (min-width: $desktop-width-min) {
    margin-top: 60px;
  }

  @media (min-width: $desktop-width-mid) {
    margin-top: 50px;
  }

  @media (min-width: $desktop-width-max) {
    margin-top: 60px;
  }
}

.popup__button {
  width: 300px;
  padding: 10px;
  margin: 0;
  display: block;
  border-radius: 78px;

  background-color: $pink;

  color: $white;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $table-width-mid) {
    width: auto;
    padding: 19px 32px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 32px;
  }

  @media (min-width: $desktop-width-mid) {
    width: auto;
    padding: 11px 32px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 20px;
    line-height: 28px;
    padding: 14px 40px;
  }
}

.popup__button--close {
  width: 35px;
  height: 35px;
  border: 1px solid $captionBlue;
  border-radius: 50%;
  fill: $captionBlue;
  position: absolute;
  top: -35px;
  right: 0;
  margin-left: auto;

  &:disabled {
    stroke: $disabled;
    fill: $disabled;
  }

  @media (min-width: $desktop-width-min) {
    width: 28px;
    height: 28px;
    top: 21px;
    right: 21px;
    transition: all 0.2s ease-in;

    &:hover,
    &:focus {
      fill: $white;
      background: $focus;
      border-color: $focus;
    }
  }

  @media (min-width: $desktop-width-max) {
    width: 32px;
    height: 32px;
    top: 24px;
    right: 24px;
  }
}

.popup__span--loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
}