.info {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-auto-flow: column;
    gap: 65px 70px;
  }
}

.info__input {
  &+.info__label {
    display: flex;
    gap: 21px;
    align-items: center;
    cursor: pointer;
  
    @media (min-width: $desktop-width-min) {
  
      &:hover,
      &:focus {
        .info__button {
          background-color: $green-light;
          border-color: $green-light;
        }
  
        .info__cross {
  
          &::before,
          &::after {
            background: $white;
            border-color: $white;
          }
        }
      }
    }
  }
  &:checked {
    &+.info__label {
      .info__span--button {
        color: $black;
      }

      .info__button {
        border-color: $gray;
        background-color: $gray;

        .info__cross {
          &::after {
            transform: rotate(180deg);
            border-color: $black;
            background-color: $black;
          }

          &::before {
            transform: rotate(180deg);
            border-color: $black;
            background-color: $black;
          }
        }
      }
    }
  }
}


.info__content {
  margin: 56px 0 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.info__reticle {
  display: none;

  @media (min-width: $desktop-width-min) {
    grid-column: 1/5;
    grid-row: 2/3;
  }
}

.info__reticle--text {

  @media (min-width: $desktop-width-min) {
    width: 640px;
  }

  @media (min-width: $desktop-width-max) {
    width: 800px;
  }
}

.info__reticle--show {
  display: block;
}

.info__package {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 70px;

  @media (min-width: $mobile-width-mid) {
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    justify-content: center;
  }

  @media (min-width: $desktop-width-min) {
    display: flex;
    flex-wrap: wrap;
  }
}

.info__block--content {
  width: 175px;

  @media (min-width: $mobile-width-mid) {
    justify-self: center;
  }

  @media (min-width: $table-width-min) {
    width: 200px;
  }

  @media (min-width: $desktop-width-min) {
    width: 155px;
  }

  @media (min-width: $desktop-width-max) {
    width: 200px;
  }
}

.info__block--button {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $table-width-min) {
    flex-direction: row;
    align-items: center;
    gap: 56px;
  }
}

.info__line {
  height: 32px;
  width: 1px;
  background: $black-30;

  @media (max-width: $mobile-width-max) {
    display: none;
  }

  @media (min-width: $desktop-width-max) {
    height: 36px;
  }
}

.info__span--button {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  transition: all 0.3s ease-out;

  color: $black-70;

  @media (min-width: $table-width-min) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 18px;
    line-height: 30px;
  }
}

.info__span--number {
  position: absolute;
  top: 0;
  right: 0px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  color: $gray-number;

  @media (min-width: $table-width-min) {
    font-size: 24px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 18px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 24px;
    line-height: 20px;
  }
}

.info__checkbox {
  width: max-content;
}

.info__wrapper--photo {
  position: relative;
  width: 100%;
  height: 172px;
  margin-bottom: 28px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 98px;
    height: 98px;
    background: $gray;
  }

  @media (min-width: $table-width-min) {
    height: 196px;

    &::before {
      width: 112px;
      height: 112px;
    }
  }

  @media (min-width: $desktop-width-min) {
    height: 150px;

    &::before {
      width: 84px;
      height: 84px;
    }
  }

  @media (min-width: $desktop-width-max) {
    height: 195px;
    margin-bottom: 36px;

    &::before {
      width: 108px;
      height: 108px;
    }
  }
}

.info__img {
  position: absolute;
  width: 147px;
  height: 147px;
  top: 0;
  left: 0;
  object-fit: cover;

  @media (min-width: $table-width-min) {
    width: 168px;
    height: 168px;
  }

  @media (min-width: $desktop-width-min) {
    width: 133px;
    height: 133px;
  }

  @media (min-width: $desktop-width-max) {
    width: 171px;
    height: 171px;
  }
}

.info__button {
  width: 33px;
  height: 33px;
  border: 1px solid $green-main;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;

  @media (min-width: $desktop-width-max) {
    width: 45px;
    height: 45px;
  }
}



.info__cross {
  z-index: 1;
  width: 16px;
  height: 16px;
  position: relative;
  transition: all 0.3s ease-out;

  &::before,
  &::after {
    z-index: 10;
    position: absolute;
    content: "";
    width: 15px;
    border: 1px solid $green-main;
    border-radius: 3px;
    background: $green-main;
    top: 7px;
    left: -1px;
    transition: all 0.3s ease-out;
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $desktop-width-max) {
    width: 22px;
    height: 22px;

    &::before,
    &::after {
      width: 19px;
      top: 10px;
      left: 0;
    }
  }
}

.info__title--contraindication {
  margin: 0 0 30px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;

  color: $black-70;

  @media (min-width: $table-width-min) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 36px;
  }
}

.info__title--package {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: $black-70;
  margin: 0 0 7px;

  @media (min-width: $table-width-min) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 14px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 18px;
    line-height: 18px;
  }
}

.info__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  list-style: none;
  gap: 14px;

  @media (min-width: $mobile-width-mid) {
    flex-direction: row;
    gap: 35px;
  }

  @media (min-width: $desktop-width-max) {
    gap: 50px;
  }
}

.info__item {
  display: flex;
  align-items: center;
  gap: 7px;
}

.info__svg {
  width: 20px;
  height: 19px;
}

.info__paragraph {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 50px 0;
  padding: 0;
}