.interactive {
  display: flex;
  flex-direction: column;
}

.interactive__wrapper--img {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
}

.interactive__img {
  width: 300px;
  min-height: 405px;

  @media (min-width: $table-width-min) {
    width: 616px;
    min-height: 600px;
  }

  @media (min-width: $desktop-width-min) {
    width: 539px;
    min-height: 600px;
  }

  @media (min-width: $desktop-width-mid) {
    width: 623px;
    min-height: 600px;
  }

  @media (min-width: $desktop-width-max) {
    width: 837px;
    min-height: 800px;
  }
}

.interactive__svg--rotation {
  position: absolute;
  left: 140px;

  animation: 10s linear 0s normal none infinite running rot;
  width: 63px;
  height: 63px;

  @media (min-width: $table-width-min) {
    width: 80px;
    height: 80px;
    left: 305px;
  }

  @media (min-width: $desktop-width-min) {
    width: 112px;
    height: 112px;
    left: 270px;
  }

  @media (min-width: $desktop-width-mid) {
    left: 315px;
  }

  @media (min-width: $desktop-width-max) {
    width: 168px;
    height: 168px;
    left: 430px;
  }
}

.interactive__svg--button {
  width: 100%;
  height: 100%;
  border: 0.5px solid $green-dark;
  border-radius: 50%;
}

.interactive__component {
  position: absolute;
  display: flex;

  @media (min-width: $desktop-width-min) {
    flex-direction: column;
    align-items: flex-end;
    width: 160px;
  }

  @media (min-width: $desktop-width-max) {
    width: 245px;
  }
}

.interactive__component--oil {
  left: 12px;
  top: 50px;
  gap: 20px;
  text-align: right;

  & .interactive__button {
    @media (min-width: $table-width-min) {
      position: relative;
      left: 0;
      top: 50px;
    }

    @media (min-width: $desktop-width-min) {
      left: 40px;
      top: 30px;
    }
  }

  @media (min-width: $table-width-min) {
    left: 60px;
    top: 35px;
  }

  @media (min-width: $desktop-width-min) {
    left: 55px;
    top: 35px;
    gap: 0;
  }

  @media (min-width: $desktop-width-mid) {
    left: 100px;
  }

  @media (min-width: $desktop-width-max) {
    top: 65px;
    left: 110px;
  }
}

.interactive__component--oilcake {
  right: 20px;
  top: 145px;
  flex-direction: column;
  width: min-content;

  gap: 25px;
  align-items: center;

  @media (min-width: $table-width-min) {
    right: 100px;
    top: 255px;
  }

  @media (min-width: $desktop-width-min) {
    align-items: flex-start;
    right: 45px;
    top: 270px;
    gap: 20px;
  }

  @media (min-width: $desktop-width-mid) {
    top: 285px;
    right: 80px;
  }

  @media (min-width: $desktop-width-max) {
    top: 400px;
    right: 135px;
  }
}

.interactive__component--seasoning {
  left: 0px;
  bottom: 70px;
  gap: 16px;
  flex-direction: column;
  align-items: flex-end;
  width: min-content;

  @media (min-width: $table-width-min) {
    left: 85px;
    bottom: 125px;
    gap: 30px;
  }

  @media (min-width: $desktop-width-min) {
    left: 65px;
    bottom: 95px;
    text-align: right;
    gap: 30px;
  }

  @media (min-width: $desktop-width-mid) {
    left: 115px;
  }

  @media (min-width: $desktop-width-max) {
    bottom: 150px;
    left: 160px;
  }
}

.interactive__component--corn {
  left: 185px;
  bottom: 80px;
  gap: 7px;
  flex-direction: column;
  align-items: flex-end;

  @media (min-width: $table-width-min) {
    left: 395px;
    bottom: 110px;
    gap: 25px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width-min) {
    align-items: flex-start;
    left: 355px;
    bottom: 85px;
  }

  @media (min-width: $desktop-width-mid) {
    left: 395px;
    bottom: 75px;
  }

  @media (min-width: $desktop-width-max) {
    left: 520px;
    bottom: 130px;
  }
}

.interactive__button {
  width: 28px;
  height: 28px;
  cursor: default;

  @media (min-width: $table-width-min) {
    width: 40px;
    height: 40px;
  }

  @media (min-width: $desktop-width-min) {
    width: 35px;
    height: 35px;
  }

  @media (min-width: $desktop-width-max) {
    width: 45px;
    height: 45px;
  }
}

.interactive__title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;

  @media (min-width: $table-width-min) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 20px;
    line-height: 20px;
  }
}