.language {
  display: flex;
  flex-direction: column;
  position: relative;
}

.language--open{
  .language__svg--select {
    transform: rotate(180deg);
    fill: $green-light;
  }
  @media (min-width: $desktop-width-min){
    .language__list{
      display: flex;
    }
  }
}

.language__button {
  @media (max-width: $table-width-max) {
    display: none;
  }

  @media (min-width: $desktop-width-min) {
    display: flex;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;

    color: $black;

    &:hover,
    &:focus {
      color: $green-light;

      .language__svg--select {
        fill: $green-light;
      }
    }
  }

  @media (min-width: $desktop-width-max) {
    font-size: 16px;
    line-height: 18px;
  }
}
.language__span {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;

  &::before {
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid $gray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
  }

  @media (min-width: $table-width-min) {
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 12px;
    line-height: 20px;
  }
}

.language__span--title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  margin: 21px 0 14px;

  color: $black;

  @media (min-width: $table-width-min) {
    font-size: 14px;
    line-height: 17px;
    margin: 24px 0 16px;
  }

  @media (min-width: $desktop-width-min) {
    display: none;
  }
}

.language__span--description {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;


  color: $black;

  @media (min-width: $table-width-min) {
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 12px;
    line-height: 20px;
  }
}

.language__label {
  display: flex;
  gap: 13px;
  align-items: center;

  cursor: pointer;

  @media (min-width: $desktop-width-min) {

    &:hover,
    &:focus {
      color: $green-light;
      .language__span{
        &::before{
          border-color: $green-light;
        }
      }
      .language__span--description {
        color: $green-light;

      }
    }
  }
}

.language__radio {
  &:checked {
    &+.language__label {
      .language__span {
        color: $white;

        &::before {
          border-color: $green-main;
          background-color: $green-main;
        }
      }

      .language__span--description {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background: $green-main;

          @media (min-width: $table-width-min) {
            bottom: -3px;
          }
        }
      }
    }
  }
}

.language__line {
  width: 1px;
  height: 15px;
  background: $gray;
}

.language__list {
  display: flex;
  gap: 21px;
  margin-bottom: 28px;

  @media (min-width: $table-width-min) {
    gap: 88px;
  }

  @media (min-width: $desktop-width-min) {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: -135px;
    left: -130px;
    gap: 11px;
    z-index: 2;
    background-color: $white;
    padding: 11px 21px;
    margin: 0;
  }

  @media (min-width: $desktop-width-max) {
    bottom: -145px;
  }
}

.language__item--line {
  @media (max-width: $table-width-max) {
    display: none;
  }

  width: 100%;
  height: 1px;
  background: $gray;
}

.language__svg--select {
  width: 10px;
  height: 6px;
  fill: $green-main;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  transform: rotate(0deg);

  @media (min-width: $desktop-width-max) {
    width: 14px;
    height: 8px;
  }
}