.partner__button {
  padding: 13px 18px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;


  color: $white;

  margin-bottom: 35px;

  @media (min-width: $table-width-min) {
    font-size: 14px;
    line-height: 14px;
    padding: 14px 21px;
  }

  @media (min-width: $desktop-width-min) {
    display: none;
  }
}

.partner__list {
  display: flex;
  flex-direction: column;
  gap: 7px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;

  color: $black;

  @media (min-width: $table-width-min) {
    font-size: 14px;
    line-height: 14px;
    gap: 14px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 20px;
    line-height: 20px;
  }
}
.partner__item {
  @media (min-width: $desktop-width-min) {
    &:hover,
    &:focus{
      color: $green-light;
    }
  }
}
.partner__item--desktop {
  @media (min-width: $desktop-width-min) {
    display: none;
  }
}